/* Button style */
.btn {
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 600;
  text-transform: capitalize;
  padding: 15px 30px;
  border-radius: 30px;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  white-space: nowrap;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: inherit;
    transition: inherit;
    background-color: inherit;
    border: 1px solid transparent;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    @extend .shadow;

    &::before {
      height: 110%;
      width: 110%;
    }
  }

  &-sm {
    padding: 12px 30px;
    font-size: 15px;
  }
}
.btn-atividades{
  background-color: #001D7E;
  border-color: #001D7E;
  
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    @extend .shadow;

    &::before {
      height: 110%;
      width: 110%;
      background-color: #0073E3;
    }
  }

  &-sm {
    padding: 12px 30px;
    font-size: 15px;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
}
.espaco-abaixo{
  margin-bottom: 20px; /* Espaço abaixo do botão */
}

.card-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Ajuste essa proporção conforme necessário */
}

.card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-outline-primary {
  background-color: transparent;
  color: $text-color-dark;
  border-color: transparent;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: transparent !important;
    border-color: $primary-color !important;
    color: $primary-color;
  }
  &::before{
    border-color: $primary-color;
  }
}

.btn-link {
  color: $primary-color;

  i,
  svg {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 1px;
    transition: .2s ease;
  }

  &:active,
  &:hover,
  &.focus,
  &.active {
    color: $primary-color;
    text-decoration: none;

    i,
    svg {
      margin-left: 10px;
    }
  }
}

.nav-link,
.dropdown-item {
  color: #000 !important;
}
.nav-link:hover,
.dropdown-item:hover {
  color: #000 !important;
  background-color: #f3f3f3;
}

.navbar-light .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23595959' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

